.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nextStoriesContainer {
  height: 200px;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.nextStory {
  height: 174px;
  width: 174px;
  border: 2px solid #273b95;
  border-radius: 50%;
  background: #f4f4f4;
  margin: 20px;
  /* position: relative; */
}

.nextStory img {
  height: 190px;
  width: 190px;
  /* position:absolute; */
  /* z-index: -1; */
}

.story {
  height: 600px;
  width: 600px;
  background: #ffffff;
  border: 2px solid #020202;
}

.story img {
  height: 600px;
  width: 600px;
}

.story.showStory {
  display: block;
  position: fixed;
}
.hide {
  display: none;
}
